html[lang='en_US'] > * {
  font-family: 'Segoe UI', Roboto, system-ui, -apple-system, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html[lang='fa_IR'] > * {
  font-family: 'Vazirmatn', Tahoma, Arial, system-ui, -apple-system, sans-serif;
  direction: rtl;
}

a {
  text-underline-offset: 0.4em !important;
  &:hover {
    text-decoration: underline;
  }
}
