@import 'variables';

html {
  font-size: map-get($app-base-font-size, 'xs');
  @media screen and (min-width: #{map-get($display-breakpoints, 'sm')}) {
    font-size: map-get($app-base-font-size, 'sm');
  }
  @media screen and (min-width: #{map-get($display-breakpoints, 'lg')}) {
    font-size: map-get($app-base-font-size, 'lg');
  }
}

html[lang='en_US'] > * {
  font-family: 'Segoe UI', Roboto, system-ui, -apple-system, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html[lang='fa_IR'] > * {
  font-family: 'Vazirmatn', Tahoma, Arial, system-ui, -apple-system, sans-serif;
  direction: rtl;
}

a {
  text-underline-offset: 0.4em !important;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 3.75rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
}

h2,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-text-color;
  line-height: 1.25;
}
