$h-primary: '#55bd6d';
$h-accent: '#e6f6ee';
$h-secondary: '#f2f3f5';
$h-success: '#00e676';
$h-warning: '#FFC107';
$h-error: '#FF5252';
$h-info: '#2196F3';
$h-light: '#f3f3f3';
$h-dark: '#272727';

$h-colors: (
  'primary': $h-primary,
  'accent': $h-accent,
  'secondary': $h-secondary,
  'success': $h-success,
  'warning': $h-warning,
  'error': $h-error,
  'info': $h-info,
  'light': $h-light,
  'dark': $h-dark
);

$h-radius: (
  0: 0,
  'sm': 2px,
  'md': 4px,
  'lg': 8px,
  'xl': 24px,
  circle: 50%
);

$display-breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px
);

$main-padding: 25px;
$main-mobile-padding: 10px;
$header-top: 25px;
$header-padding: 0 #{$main-padding};
$header-mobile-padding: 0 $main-mobile-padding;

$heading-text-color: #26282d;
